{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Portfolio</h1>
        </div>
    </div>

    {% for project in object_list %}
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{project.name}}</h5>
                    <p class="card-text">{{project.content}}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>



{% endblock content %}