<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title></title>
</head>

<body>
  {# Load the tag library #}
  {% include 'navbar.html' %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'main.css' %}">

  {% block content %}

  {% load django_bootstrap5 %}

  {% endblock content %}

  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  {# Display django.contrib.messages as Bootstrap alerts #}
  {% bootstrap_messages %}

</body>

</html>